{% extends 'base.html' %}

{% block title %} Our Products {% endblock %}

{% block content %}

<h1>Our Products</h1>

<div class="card_container">
  <div class="card">
    <div class="card_img">
      <img
        src="https://imgix.bustle.com/uploads/image/2019/9/25/5d4596db-d580-4d0d-829b-30b2c4be4bc9-b9499be1-c892-427e-a0c9-f23a9b1bad55-864631f4-77d7-44a6-8093-2771da573f63-wafflemaker.jpeg?w=1200&h=630&fit=crop&crop=faces&fm=jpg"
        alt=""
      />
    </div>
    <div class="card_desc">Great Waffle Maker for Waffle Lovers!</div>
  </div>
  <div class="card">
    <div class="card_img">
      <img
        src="https://imgix.bustle.com/uploads/image/2019/9/25/5d4596db-d580-4d0d-829b-30b2c4be4bc9-b9499be1-c892-427e-a0c9-f23a9b1bad55-864631f4-77d7-44a6-8093-2771da573f63-wafflemaker.jpeg?w=1200&h=630&fit=crop&crop=faces&fm=jpg"
        alt=""
      />
    </div>
    <div class="card_desc">Great Waffle Maker for Waffle Lovers!</div>
  </div>
  <div class="card">
    <div class="card_img">
      <img
        src="https://imgix.bustle.com/uploads/image/2019/9/25/5d4596db-d580-4d0d-829b-30b2c4be4bc9-b9499be1-c892-427e-a0c9-f23a9b1bad55-864631f4-77d7-44a6-8093-2771da573f63-wafflemaker.jpeg?w=1200&h=630&fit=crop&crop=faces&fm=jpg"
        alt=""
      />
    </div>
    <div class="card_desc">Great Waffle Maker for Waffle Lovers!</div>
  </div>
  <div class="card">
    <div class="card_img">
      <img
        src="https://imgix.bustle.com/uploads/image/2019/9/25/5d4596db-d580-4d0d-829b-30b2c4be4bc9-b9499be1-c892-427e-a0c9-f23a9b1bad55-864631f4-77d7-44a6-8093-2771da573f63-wafflemaker.jpeg?w=1200&h=630&fit=crop&crop=faces&fm=jpg"
        alt=""
      />
    </div>
    <div class="card_desc">Great Waffle Maker for Waffle Lovers!</div>
  </div>
</div>

{% endblock %}